APP_NAME=UzDuokBackend
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://local.test
APP_TIMEZONE=Europe/Vilnius
# For sail commands to work
APP_SERVICE=laravel
FRONT_URL=http://local.test:3000

WWWGROUP=1000
WWWUSER=1000

APP_LOCALE=lt
APP_FALLBACK_LOCALE=lt
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack #arba naudoti stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=UzDuokBackend
DB_USERNAME=uzduok
DB_PASSWORD=admin

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Which driver to use for queuing jobs
QUEUE_DRIVER=sync

# Should session expire when user closes browser
SESSION_EXPIRE_ON_CLOSE=true

SANCTUM_STATEFUL_DOMAINS=local.test:3000
