*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/public/storage
/storage/*.key
/storage/pail
/vendor

/docker-compose.yml
/publish
